@model TheLiquorCabinet.Models.CabinetViewModel
<h1>Add Ingredients to your Cabinet</h1>
<hr />
<div>
    <h1>
        Your ingredients include the following:
    </h1>
    @foreach (var ingredient in Model.CabinetList)
    {
        <p>@ingredient.Name</p>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form id="isearch" asp-controller="Drink" asp-action="DrinksByCabinet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label name="DrinkId" class="control-label">Search all drinks you can make with ingredients on hand: </label>
            <select class="js-example-basic-multiple" name="ingredients" multiple="multiple" required="required">
                @foreach (var ingredient in Model.CabinetList)
                {
                    <option value="@ingredient.Name">@ingredient.Name</option>
                }
            </select>
            <div class="form-group">
                <input asp-controller="Drink" asp-action="DrinksByCabinet"
                       asp-route-ingredients="ingredients"
                       type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>