
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>


<hr />

<form action="Login" method="Post">
    <label for="name">Username: </label>
    <input name="name" type="text" placeholder="Username" />
    <input class="btn btn-primary" type="submit" />
</form>