
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />

<form asp-controller="User" asp-action="LoginUser">
    <label for="name">Username: </label>
    <input name="name" type="text" placeholder="Username" required="required"/>
    <input class="btn btn-primary" type="submit" />
</form>