
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />

<form action="Register" method="Post">
    <label for="name">Username: </label>
    <input name="name" type="text" placeholder="Username"/>
    <input class="btn btn-primary" type="submit" />
</form>

