
@{
    ViewData["Title"] = "Register";
}

<h1>Register new Username</h1>
<hr />

<form asp-controller="User" asp-action="RegisterUser" method="Post">
    <label for="username">Username: </label>
    <input id="username" type="text" placeholder="Username"/>
    <input type="submit" />
</form>

