@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />



<form asp-controller="User" asp-action="Register">
    <label for="name">Username: </label>
    <input name="name" type="text" placeholder="Username" required="required"/>
    <br />
    <label for="date">Date of Birth: </label>
    <input name="dateOfBirth" type="date" value=@ViewBag.Date required="required">
    <br />
    <input class="btn btn-primary" type="submit" />
</form>

