@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Error</h1>
<hr />
<p>This username has already been taken.</p>
<br />
<input type="button" value="Click here to return to register again" class="btn btn-primary" onclick="location.href='@Url.Action("Register","User")'" />