@model TheLiquorCabinet.ViewModels.DrinksByIngredientViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Drink" asp-action="GetDrinksByIngredient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="autocomplete" style="width:300px;">
                <input type="text" id="ingredient" name="ingredients" placeholder="Country">
            </div>
            <script>autocomplete(document.getElementById("ingredient"), @Model.IngredientList.IngredientNames.ToArray())</script>
        </form>
            <div class="form-group">
                <input asp-controller="Drink" asp-action="GetDrinksByIngredient"
                       asp-route-ingredients="ingredients"
                       type="submit" value="Submit" class="btn btn-primary" />
            </div>
    </div>
</div>