@model TheLiquorCabinet.ViewModels.DrinksByIngredientViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Drink" asp-action="GetDrinksByIngredient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <select class="js-example-basic-multiple" name="Ingredients[]" multiple="multiple">
                <option value="Vodka">Vodka</option>
            </select>
        </form>
            <div class="form-group">
                <input asp-controller="Drink" asp-action="GetDrinksByIngredient"
                       asp-route-ingredients="ingredients"
                       type="submit" value="Submit" class="btn btn-primary" />
            </div>
    </div>
</div>