@model TheLiquorCabinet.Models.Drink
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to The Liquor Cabinet</h1>

        <img src="@Url.Content(Model.PictureLink)" width="350px"/>

    </div>


