@model TheLiquorCabinet.Models.Drink
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to The Liquor Cabinet</h1>

        <img src="@Url.Content(Model.PictureLink)" width="350px"/>
        <p>@Model.Name</p>
        <hr />
        
        <div class="row">
            <div class="col-md-4">
                <h2>Search By Ingredients</h2>
                <p>
                    You can use this link to search for a drink by an ingredient
                </p>
                <a asp-action="" class="btn btn-primary"
                   asp-controller="Drink">Search By Ingredients</a>
            </div>
            <div class="col-md-4">
                <h2>Search for a Drink</h2>
                <p>
                    Use this link to search for a drink.
                </p>
                <a asp-action="" class="btn btn-primary"
                   asp-controller="Drink">Search for a Drink</a>
            </div>
            <div class="col-md-4">
                <h2>Add another feature</h2>
                <p>
                    This can be for another feature
                </p>
            </div>


        </div>
    </div>