@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h2>Must be 21 years of age or older to use the full site</h2>
        <p>Please enter your date of birth:</p>
        <input type="date" id="dateOfBirth" name="dateOfBirth">
        <button type="submit">Enter</button>
        <p>If under 21, you will be redirected to Non-Alchoholic drinks</p>

    </div>
