@{
    ViewData["Title"] = "DOB Check";
}

<div class="text-center">
 
    <form asp-controller="Home" asp-action="DateConfirm">
        <div class="jumbotron">
            <h2>Must be 21 years of Age or Older to Use the Full Site</h2>
            <p>Please enter your date of birth:</p>

            <input type="date" id="dateOfBirth" name="dateOfBirth" value=@ViewBag.Date>
            <button type="submit" class="btn btn-primary">Enter</button>
            <br />
            <p>If under 21, you will be redirected to Non-Alcoholic drinks</p>
        </div>
    </form>
</div>